@import '../../assets/styles/config';

$height: 2em;
$font: 32px;

$forms__text_lowsat: $color__text_lowsat;
$forms__highlight: $color__highlight;
$forms__transition: $time__transition;
.input-container{
  display: flex;
  align-items: stretch;
  justify-content: stretch;
  height: $height;
  line-height: $height;
  font-size: inherit !important;
  margin: 2px;
}

.input{
  background: transparent;
  color: inherit;
  width: 100%;
  height: inherit;
  line-height: inherit;
  font-size: inherit !important;
  padding: 0;
  margin: 0;
  outline: none;

  transition: {
    property: border-color, box-shadow, color;
    duration: $time__transition;
  }

  &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: $forms__text_lowsat;
    transition: color $forms__transition;
    &:focus, &:active, &:hover{
      color: $forms__highlight;
    }
  }
  &::-moz-placeholder { /* Firefox 19+ */
    color: $forms__text_lowsat;
    transition: color $forms__transition;
    &:focus, &:active, &:hover{
      color: $forms__highlight;
    }
  }
  &:-ms-input-placeholder { /* IE 10+ */
    color: $forms__text_lowsat;
    transition: color $forms__transition;
    &:focus, &:active, &:hover{
      color: $forms__highlight;
    }
  }
  &:-moz-placeholder { /* Firefox 18- */
    color: $forms__text_lowsat;
    transition: color $forms__transition;
    &:focus, &:active, &:hover{
      color: $forms__highlight;
    }
  }
}
