/***
 *** COLOR
 ***/
$color__text: #646482;
$color__text_lowsat: #c5c5d3;
$color__highlight: #ff5722;
$color__highlight_lowsat: #c8745b;
/***
 *** TIME
 ***/
$time__transition: .2s;
/***
 *** SIZE
 ***/
$size__phone: 568px;
