/***
 *** COLOR
 ***/
@import './colors';

$color__text: $color-secondary-2-4;
$color__text_lowsat: $color-secondary-2-1;
$color__highlight: $color-primary-0;
$color__highlight_lowsat: $color-primary-1;

/***
 *** TIME
 ***/
$time__transition: .2s;
/***
 *** SIZE
 ***/
$size__phone: 568px;
