<v-stepper :value='1' id="root">
  <v-stepper-header class="stepper-header">
    <v-stepper-step edit-icon='group' complete editable step="1">
      Escolher Paciente
    </v-stepper-step>

  </v-stepper-header>
  <div class="steps">
    
    <v-stepper-content step='1'>
      <div v-if='patientsList.length == 0'>
        <h3 class="text-center">Nenhum Paciente Cadastrado ainda</h3>
      </div>

      <v-list v-else>
        
          <v-list-tile ripple 
          class="clickable" 
          v-for="(patient, i) in patientsList" 
          :key="patient.id"
          :to="{name: 'Tasks', params:{patientId:patient.id}}"
          @click='choosePatient(patient.id)'
          >
            <v-list-tile-action>
              <v-icon color="primary">input</v-icon>
            </v-list-tile-action>
            <v-list-tile-content >
              <v-list-tile-title>{{++i}} {{patient.pers_first_name}} {{patient.pers_last_name}}</v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
        
      </v-list>
      
    </v-stepper-content>
  </div>
</v-stepper>
