<v-stepper v-model="step">
  <v-stepper-header>
    <v-stepper-step editable step="1" v-bind:complete="true">
      Pessoal
      <small>Nome, Idade &amp; Contato</small>
    </v-stepper-step>
    <v-divider></v-divider>
    <v-stepper-step editable step="2" v-bind:complete="true">
      Endereço
    </v-stepper-step>
    <v-divider></v-divider>
    <v-stepper-step editable step="3" v-bind:complete="true">
      Login
      <small>Senha &amp; Email</small>
    </v-stepper-step>
  </v-stepper-header>
  <div class="steps">
    <v-stepper-content step="1">
      <div class="fieldset">
        <v-text-field @change="changeDetected($event, account, 'pers_display_name')" label="Nome de Exibição" v-model='account.pers_display_name'
          class="input s3"></v-text-field>

        <v-text-field @change="changeDetected($event, account, 'pers_first_name')" v-model='account.pers_first_name' class="input s4"
          label="Primeiro Nome"></v-text-field>
        <v-text-field @change="changeDetected($event, account, 'pers_last_name')" v-model='account.pers_last_name' label="Sobrenome"
          class="input"></v-text-field>
      </div>
      <div class="fieldset">
          <v-text-field @change="changeDetected($event, account, 'pers_occupation')" v-model="account.pers_occupation" label="Ocupação"
          class="input s3"></v-text-field>
        <v-text-field @change="changeDetected($event, account, 'pers_phone')" v-model="account.pers_phone" label="Telefone" class=" s4 input"></v-text-field>
        <v-dialog persistent v-model="modal" lazy full-width width="290px" class="input">
            <v-text-field slot="activator" label="Data de Nascimento" v-model="dateFormatted" @change="changeDetected($event, account, 'pers_birth')"></v-text-field>
            <v-date-picker v-model="account.pers_birth" @input="dateFormatted = formatDate(event)" no-title scrollable actions>
              <template slot-scope="{ save, cancel }">
                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn flat color="primary" @click="cancel">Cancel</v-btn>
                  <v-btn flat color="primary" @click="save">OK</v-btn>
                </v-card-actions>
              </template>
            </v-date-picker>
  
          </v-dialog>
      </div>
    </v-stepper-content>

    <v-stepper-content step="2">

      <v-text-field @change="changeDetected($event, account, 'loc_complement')" v-model="account.loc_complement" label="Endereço"
        hint="Rua, Número, Apt" persistent-hint></v-text-field>
      <div class="fieldset">
        <v-text-field @change="changeDetected($event, account, 'loc_neighbourhood')" v-model="account.loc_neighbourhood" label="Bairro" class="input"></v-text-field>
        <v-text-field @change="changeDetected($event, account, 'loc_city')" v-model="account.loc_city" label="Cidade" class="input"></v-text-field>
      </div>
      <div class="fieldset">
        <v-text-field @change="changeDetected($event, account, 'loc_state')" v-model="account.loc_state" label="Estado" class="input"></v-text-field>
        <v-text-field @change="changeDetected($event, account, 'loc_country')" v-model="account.loc_country" label="País" class="input"></v-text-field>
        <v-text-field @change="changeDetected($event, account, 'loc_postal_code')" v-model="account.loc_postal_code" label="CEP" class="input"></v-text-field>
      </div>


    </v-stepper-content>

    <v-stepper-content step="3">

      <p>
        Ao clicar o botão, você receberá um email em {{account.pers_email}} para alterar email ou senha cadastrados.
      </p>
      <button class="button" @click='alterarCredenciais'>Alterar email ou senha</button>

    </v-stepper-content>
  </div>
</v-stepper>
